# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd 
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions_predict = pd.read_csv('Admission_Predict.csv')

admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
#using .columns to verify if theres spaces inside de columns names
print(admissions_predict.columns)

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [4]:
#using the method .columns and .str.replace to modify the names
admissions_predict.columns =   admissions_predict.columns.str.replace(' ','', regex = True)

In [5]:
#checking if it worked
print(admissions_predict.columns)

Index(['SerialNo.', 'GREScore', 'TOEFLScore', 'UniversityRating', 'SOP', 'LOR',
       'CGPA', 'Research', 'ChanceofAdmit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# your code here
admissions_predict.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
#using .isnull to verufy if theres missing data
admissions_predict.isnull().values.any()

False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here
# using set.index() to use a column from the data base as an Index
admissions_predict.set_index('SerialNo.', inplace= True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [9]:
# your code here
# Check for duplicates using 'GRE Score' and 'CGPA'
admissions_predict.duplicated(subset=['GREScore', 'CGPA']).sum()

0

In [10]:
#Since the result is 0, then we can conclude that GRE Score and CGPA also uniquely identify the data.

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [22]:
admissions_predict['new_index'] = admissions_predict['GREScore'] + admissions_predict['CGPA']

In [20]:
admissions_predict.drop(['GREScore','CGPA'], axis=1)

           TOEFLScore  UniversityRating  SOP  LOR  Research  ChanceofAdmit
SerialNo.
1                 118                 4  4.5  4.5         1           0.92
2                 104                 3  3.0  3.5         1           0.72
3                 110                 3  3.5  2.5         1           0.80
4                 103                 2  2.0  3.0         0           0.65
5                 115                 5  4.5  3.0         1           0.90
...               ...               ...  ...  ...       ...            ...
381               110                 3  3.5  3.5         1           0.82
382               107                 3  3.0  3.5         1           0.84
383               116                 4  5.0  4.5         1           0.91
384               103                 3  3.5  4.0         0           0.67
385               117                 4  5.0  4.0         1           0.95

[385 rows x 6 columns]

In [23]:
admissions_predict_new_index = admissions_predict.set_index('new_index')

In [24]:
admissions_predict_new_index

,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
new_index,,,,,,,,
346.65,337,118,4,4.5,4.5,9.65,1,0.92
324.00,316,104,3,3.0,3.5,8.00,1,0.72
330.67,322,110,3,3.5,2.5,8.67,1,0.80
322.21,314,103,2,2.0,3.0,8.21,0,0.65
339.34,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
333.04,324,110,3,3.5,3.5,9.04,1,0.82
334.11,325,107,3,3.0,3.5,9.11,1,0.84
339.45,330,116,4,5.0,4.5,9.45,1,0.91
320.78,312,103,3,3.5,4.0,8.78,0,0.67
342.66,333,117,4,5.0,4.0,9.66,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [26]:
# your code here
admissions_predict_final = admissions_predict_new_index.reset_index(inplace=True)

None

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [29]:
# your code here 
admissions_predict.loc[(admissions_predict['CGPA'] > 9) & (admissions_predict['Research'] == 1)].shape[0]

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [33]:
# your code here
selected_rows = admissions_predict[(admissions_predict['CGPA'] > 9) & (admissions_predict['SOP'] < 3.5)]
mean_chance_of_admit = selected_rows['ChanceofAdmit'].mean()

print(f"Number of selected rows: {selected_rows.shape[0]}")
print(f"Mean chance of admit for selected rows: {mean_chance_of_admit:.2f}")

Number of selected rows: 5
Mean chance of admit for selected rows: 0.80

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [34]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

def standardize(col):
    mean= np.mean(col)
    std_dev = np.std(col)
    return (col - mean)/std_dev

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [35]:
# your code here
admissions_predict['CGPA_std'] = standardize(admissions_predict['CGPA'])
admissions_predict['GREScore_std'] = standardize(admissions_predict['GREScore'])
admissions_predict['LOR_std'] = standardize(admissions_predict['LOR'])

We will generate the decision choice at random using the code below. Please run the cell.

In [16]:
# Libraries
from random import choices

In [37]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [38]:
# your code here

admi_c2["deciding_column"] = admi_c2.lookup(admi_c2.index, decision_choice)

NameError: name 'admi_c2' is not defined

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here