# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [13]:
# your code here
admissions_predict=pd.read_csv('data\Admission_Predict.csv')
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [14]:
# your code here
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [15]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [16]:
# your code here
admissions_predict.isna().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [17]:
# your code here
admissions_predict.set_index('Serial No.', drop= False, inplace=True)
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [18]:
# your code here
admissions_predict.set_index(['Serial No.','GRE Score','CGPA'], drop= True, inplace=True)
admissions_predict

,,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
Serial No.,GRE Score,CGPA,,,,,,
1,337,9.65,118,4,4.5,4.5,1,0.92
2,316,8.00,104,3,3.0,3.5,1,0.72
3,322,8.67,110,3,3.5,2.5,1,0.80
4,314,8.21,103,2,2.0,3.0,0,0.65
5,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
381,324,9.04,110,3,3.5,3.5,1,0.82
382,325,9.11,107,3,3.0,3.5,1,0.84
383,330,9.45,116,4,5.0,4.5,1,0.91
384,312,8.78,103,3,3.5,4.0,0,0.67
385,333,9.66,117,4,5.0,4.0,1,0.95

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [19]:
# your code here
admissions_predict.reset_index(inplace=True)
admissions_predict

,Serial No.,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,1,337,9.65,118,4,4.5,4.5,1,0.92
1,2,316,8.00,104,3,3.0,3.5,1,0.72
2,3,322,8.67,110,3,3.5,2.5,1,0.80
3,4,314,8.21,103,2,2.0,3.0,0,0.65
4,5,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,9.04,110,3,3.5,3.5,1,0.82
381,382,325,9.11,107,3,3.0,3.5,1,0.84
382,383,330,9.45,116,4,5.0,4.5,1,0.91
383,384,312,8.78,103,3,3.5,4.0,0,0.67
384,385,333,9.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [22]:
# your code here
cgpa_9 = admissions_predict[(admissions_predict['CGPA'] > 9)&(admissions_predict['Research'] == 1)]
cgpa_9

,Serial No.,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,1,337,9.65,118,4,4.5,4.5,1,0.92
4,5,330,9.34,115,5,4.5,3.0,1,0.90
10,11,328,9.10,112,4,4.0,4.5,1,0.78
19,20,328,9.50,116,5,5.0,5.0,1,0.94
20,21,334,9.70,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,380,329,9.23,111,4,4.5,4.0,1,0.89
380,381,324,9.04,110,3,3.5,3.5,1,0.82
381,382,325,9.11,107,3,3.0,3.5,1,0.84
382,383,330,9.45,116,4,5.0,4.5,1,0.91
384,385,333,9.66,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [26]:
# your code here
admissions_predict[(admissions_predict['CGPA'] > 9)&(admissions_predict['SOP'] == 3.5)]['Chance of Admit'].mean()

KeyError: 'Chance of Admit'

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [27]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """    
    # your code here
    std_column=(admissions_predict[col]- np.mean(admissions_predict[col]))/np.std(admissions_predict[col])
    return std_column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [32]:
# your code here
admissions_predict['CGPA_std']= standardize('CGPA')
admissions_predict['GRE_std']= standardize('GRE Score') 
#admissions_predict['LOR_std']= standardize('LOR')   
#This one give me errors and I can´t resolve it.

admissions_predict.head()

,Serial No.,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std
0,1,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663
1,2,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450
2,3,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297
3,4,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698
4,5,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292

We will generate the decision choice at random using the code below. Please run the cell.

In [33]:
# Libraries
from random import choices

In [37]:
std_columns = ['CGPA_std', 'GRE_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [38]:
# your code here
decision_choice

['CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std']

In [42]:
admissions_predict['decision_choice'] = admissions_predict.lookup(admissions_predict.index, decision_choice)
admissions_predict['choise']= decision_choice
admissions_predict

C:\Users\amara\AppData\Local\Temp\ipykernel_25560\2838570094.py:1: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  admissions_predict['decision_choice'] = admissions_predict.lookup(admissions_predict.index, decision_choice)

,Serial No.,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,choise,decision_choice
0,1,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,CGPA_std,1.750174
1,2,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,CGPA_std,-0.992501
2,3,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,GRE_std,0.456297
3,4,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,GRE_std,-0.236698
4,5,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,CGPA_std,1.234884
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,GRE_std,0.629546
381,382,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,CGPA_std,0.852571
382,383,330,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,GRE_std,1.149292
383,384,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,CGPA_std,0.304036
384,385,333,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,CGPA_std,1.766796

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [43]:
# your code here
admissions_predict['decision'] = np.where(admissions_predict['decision_choice']>0.8, 1, 0)
admissions_predict

,Serial No.,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,choise,decision_choice,decision
0,1,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,CGPA_std,1.750174,1
1,2,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,CGPA_std,-0.992501,0
2,3,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,GRE_std,0.456297,0
3,4,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,GRE_std,-0.236698,0
4,5,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,CGPA_std,1.234884,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,GRE_std,0.629546,0
381,382,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,CGPA_std,0.852571,1
382,383,330,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,GRE_std,1.149292,1
383,384,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,CGPA_std,0.304036,0
384,385,333,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,CGPA_std,1.766796,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [44]:
# your code here
admissions_predict[admissions_predict['decision']==1].shape[0]

96

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [46]:
# your code here
admissions_predict.columns = admissions_predict.columns.str.replace(" ","_")
admissions_predict.columns = admissions_predict.columns.str.lower() 
admissions_predict.columns = admissions_predict.columns.str.replace(".","")
admissions_predict.columns

C:\Users\amara\AppData\Local\Temp\ipykernel_25560\2853343531.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  admissions_predict.columns = admissions_predict.columns.str.replace(".","")

Index(['serial_no', 'gre_score', 'cgpa', 'toefl_score', 'university_rating',
       'sop', 'lor_', 'research', 'chance_of_admit_', 'cgpa_std', 'gre_std',
       'choise', 'decision_choice', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [47]:
# your code here
def gre_2(row):
    if row['university_rating'] >= 4:
        return row['gre_score'] + 10
    else:
        return row['gre_score']

In [50]:
admissions_predict['gre_score_2']=admissions_predict.apply(gre_2, axis=1)
admissions_predict['gre_score_2'] = admissions_predict['gre_score_2'].astype(int)
admissions_predict.head()

,serial_no,gre_score,cgpa,toefl_score,university_rating,sop,lor_,research,chance_of_admit_,cgpa_std,gre_std,choise,decision_choice,decision,gre_score_2
0,1,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,CGPA_std,1.750174,1,347
1,2,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,CGPA_std,-0.992501,0,316
2,3,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,GRE_std,0.456297,0,322
3,4,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,GRE_std,-0.236698,0,314
4,5,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,CGPA_std,1.234884,1,340

In [52]:
adjusted_gre = pd.cut(admissions_predict['gre_score_2'],4,labels=['D','C','B','A'])
adjusted_gre.value_counts()

C    150
B     90
A     75
D     70
Name: gre_score_2, dtype: int64