# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [138]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [139]:
# your code here
adm_predict = pd.read_csv('Admission_Predict.csv')
display(adm_predict)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [140]:
# your code here
adm_predict.columns = [col.strip() for col in adm_predict.columns]
display(adm_predict)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [141]:
# your code here
adm_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [142]:
# your code here
adm_predict.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [143]:
# your code here
adm_predict.set_index('Serial No.', inplace=True)
adm_predict.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [144]:
# your code here
adm_predict[['GRE Score','CGPA']].nunique()

GRE Score     49
CGPA         168
dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [145]:
# your code here
adm_predict.set_index(['GRE Score','CGPA'], inplace=True)
adm_predict.head()

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90

In [146]:
adm_predict.reset_index(inplace=True)
adm_predict.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [147]:
# your code here
adm_predict['CGPA_9'] = adm_predict['CGPA']>9
adm_predict['Research_done'] = adm_predict['Research']>0
adm_predict.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_9,Research_done
0,337,9.65,118,4,4.5,4.5,1,0.92,True,True
1,316,8.00,104,3,3.0,3.5,1,0.72,False,True
2,322,8.67,110,3,3.5,2.5,1,0.80,False,True
3,314,8.21,103,2,2.0,3.0,0,0.65,False,False
4,330,9.34,115,5,4.5,3.0,1,0.90,True,True

In [148]:
adm_predict['CGPA_9'] & adm_predict['Research_done']

0       True
1      False
2      False
3      False
4       True
       ...
380     True
381     True
382     True
383    False
384     True
Length: 385, dtype: bool

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [149]:
# your code here
adm_predict[(adm_predict['CGPA']>9) & (adm_predict['SOP']<3.5)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_9,Research_done
28,338,9.40,118,4,3.0,4.5,1,0.91,True,True
62,327,9.02,114,3,3.0,3.0,0,0.61,True,False
140,326,9.11,114,3,3.0,3.0,1,0.83,True,True
217,324,9.01,111,4,3.0,3.0,1,0.82,True,True
381,325,9.11,107,3,3.0,3.5,1,0.84,True,True

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [150]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    col_mean = np.mean(col)
    col_std = np.std(col, ddof=0)  

    std_col = (col - col_mean) / col_std

    return std_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [151]:
# your code here
adm_predict['CGPA_std'] = standardize(adm_predict['CGPA'])
adm_predict['GRE_std'] = standardize(adm_predict['GRE Score'])
adm_predict['LOR_std'] = standardize(adm_predict['LOR'])
adm_predict.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_9,Research_done,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,True,True,1.750174,1.755663,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,False,True,-0.992501,-0.063450,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,False,True,0.121191,0.456297,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,False,False,-0.643433,-0.236698,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,True,True,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [152]:
# Libraries
from random import choices

In [153]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=adm_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [154]:
# your code here
adm_predict['deciding_column'] = adm_predict.lookup(adm_predict.index, decision_choice)
adm_predict.head()

C:\Users\User\AppData\Local\Temp\ipykernel_12244\2914166633.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  adm_predict['deciding_column'] = adm_predict.lookup(adm_predict.index, decision_choice)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_9,Research_done,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,True,True,1.750174,1.755663,1.193197,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,False,True,-0.992501,-0.063450,0.076840,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,False,True,0.121191,0.456297,-1.039517,0.121191
3,314,8.21,103,2,2.0,3.0,0,0.65,False,False,-0.643433,-0.236698,-0.481338,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,True,True,1.234884,1.149292,-0.481338,1.234884

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [155]:
# your code here
adm_predict['decision'] = adm_predict['deciding_column'].apply(lambda x: 1 if x > 0.8 else 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [156]:
# your code here
adm_predict['decision'].sum()

86

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [157]:
# your code here
adm_predict.columns = [col.strip().lower().replace(' ', '_').replace(' ', '').strip('_') for col in adm_predict.columns]
adm_predict.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_9,research_done,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,True,True,1.750174,1.755663,1.193197,1.193197,1
1,316,8.00,104,3,3.0,3.5,1,0.72,False,True,-0.992501,-0.063450,0.076840,0.076840,0
2,322,8.67,110,3,3.5,2.5,1,0.80,False,True,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,103,2,2.0,3.0,0,0.65,False,False,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,True,True,1.234884,1.149292,-0.481338,1.234884,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [158]:
# your code here
adm_predict['adjusted_gre'] = np.where(adm_predict['university_rating'] >= 4, adm_predict['gre_score'] + 10, adm_predict['gre_score'])
adm_predict.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_9,research_done,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,118,4,4.5,4.5,1,0.92,True,True,1.750174,1.755663,1.193197,1.193197,1,347
1,316,8.00,104,3,3.0,3.5,1,0.72,False,True,-0.992501,-0.063450,0.076840,0.076840,0,316
2,322,8.67,110,3,3.5,2.5,1,0.80,False,True,0.121191,0.456297,-1.039517,0.121191,0,322
3,314,8.21,103,2,2.0,3.0,0,0.65,False,False,-0.643433,-0.236698,-0.481338,-0.481338,0,314
4,330,9.34,115,5,4.5,3.0,1,0.90,True,True,1.234884,1.149292,-0.481338,1.234884,1,340

In [159]:
labels = ['low', 'mid', 'high', 'excellent']  
adm_predict['adjusted_gre'] = pd.cut(adm_predict['adjusted_gre'], 4, labels=labels)
adm_predict['adjusted_gre'].value_counts()

mid          150
high          90
excellent     75
low           70
Name: adjusted_gre, dtype: int64