# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries

import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
#First we import the data set and take a quick look on it
admissions = pd.read_csv("./data/Admission_Predict.csv")
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
# We check columns current names to indetify if we have trailing spaces, we see that columns LOR and Chance of Admit do
list(admissions.columns)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [4]:
#To eliminate trailing spaces
admissions.columns = admissions.columns.str.rstrip()

In [5]:
#Now all the columns are without trailing spaces
list(admissions.columns)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research',
 'Chance of Admit']

Let's evaluate the dataset by looking at the `head` function.

In [6]:
# your code here
#Already done in step 1 when importing it

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [7]:
# your code here
admissions_null = admissions.isnull().sum() 
admissions_null.isnull().sum()[admissions_null.isnull().sum() > 0]
#There aren't null values in this dataset

array([], dtype=int64)

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [8]:
# your code here

admissions = admissions.set_index('Serial No.')
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [9]:
# your code here
admissions.shape

(385, 8)

In [10]:
#No, this field alone does not uniquely idenifies the data
admissions['GRE Score'].nunique()

49

In [11]:
#No, this field alone does not uniquely idenifies the data
admissions['CGPA'].nunique()

168

In [12]:
#No, even after combining the two fields, still is not unique
# since the total unique values from this column does not equal the shape of dataframe
admissions['Unique'] = admissions['GRE Score'] + admissions['CGPA']
admissions['Unique'].nunique()

380

In [13]:
#The issue was that column value type was float, so for a few cases the actual sum of the values was the same
#to avoid that we changed the data type to string and now we have unique values
admissions['Unique'] = admissions['GRE Score'].astype(str) + admissions['CGPA'].astype(str)
admissions['Unique'].nunique()

385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [14]:
admissions = admissions.set_index('Unique').drop(['GRE Score','CGPA'], axis = 1)
admissions.head()

         TOEFL Score  University Rating  SOP  LOR  Research  Chance of Admit
Unique
3379.65          118                  4  4.5  4.5         1             0.92
3168.0           104                  3  3.0  3.5         1             0.72
3228.67          110                  3  3.5  2.5         1             0.80
3148.21          103                  2  2.0  3.0         0             0.65
3309.34          115                  5  4.5  3.0         1             0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [15]:
# your code here
admissions.reset_index(inplace = True)
admissions.head()

,Unique,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,3379.65,118,4,4.5,4.5,1,0.92
1,3168.0,104,3,3.0,3.5,1,0.72
2,3228.67,110,3,3.5,2.5,1,0.80
3,3148.21,103,2,2.0,3.0,0,0.65
4,3309.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [16]:
admissions_2 = pd.read_csv("./data/Admission_Predict.csv")
admissions_2.columns = admissions_2.columns.str.rstrip()
admissions_2.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [17]:
admissions_2 = admissions_2.rename(columns={"GRE Score": "GRE"})

In [18]:
admissions_2.dtypes

Serial No.             int64
GRE                    int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [19]:
# your code here
test_1  = (admissions_2['CGPA']> 9) & (admissions_2['Research'].any()== 1)
test_1.sum()

110

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [20]:
# your code here
test_2 = admissions_2.loc[(admissions_2['CGPA']>9) & (admissions_2['SOP']<  3.5)]
test_2.head()

,Serial No.,GRE,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

In [21]:
display(test_2['Chance of Admit'].mean())

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [22]:
def standardize(df,col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """  
    # your code here
    col_mean = df[col].mean()
    col_std = df[col].std()
    df[col+"_std"] = (df[col]-col_mean)/(col_std)    
    return df

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [23]:
# your code here
admissions_2 = standardize(admissions_2,'CGPA')
admissions_2 = standardize(admissions_2,'GRE')
admissions_2 = standardize(admissions_2,'LOR')
admissions_2.head()

,Serial No.,GRE,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [24]:
# Libraries
from random import choices

In [25]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [26]:
# your code here

admissions_2['deciding_column'] = admissions_2.lookup(admissions_2.index, decision_choice)

C:\Users\Flor Roa\AppData\Local\Temp\ipykernel_4336\1318959595.py:3: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions_2['deciding_column'] = admissions_2.lookup(admissions_2.index, decision_choice)

In [27]:
admissions_2.head()

,Serial No.,GRE,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.455704
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.233279

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [28]:
# your code here
def decision(x):
    if x < 0.8:
        return 0
    else:
        return 1

In [29]:
admissions_2['decision'] = admissions_2['deciding_column'].apply(decision)

In [30]:
admissions_2.head()

,Serial No.,GRE,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,0.076740,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.455704,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [31]:
# your code here
acepted = admissions_2['decision'].value_counts()
print(acepted)

0    291
1     94
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [32]:
# your code here
columns = list(admissions_2.columns)
print(columns )

['Serial No.', 'GRE', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit', 'CGPA_std', 'GRE_std', 'LOR_std', 'deciding_column', 'decision']

In [33]:
new_columns = [col.lower().replace(' ', '_').replace('.', '') for col in columns]
print(new_columns)

['serial_no', 'gre', 'toefl_score', 'university_rating', 'sop', 'lor', 'cgpa', 'research', 'chance_of_admit', 'cgpa_std', 'gre_std', 'lor_std', 'deciding_column', 'decision']

In [34]:
admissions_2.columns = new_columns 
admissions_2.head()

,serial_no,gre,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,0.076740,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.455704,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [35]:
# your code here

In [36]:
def point_boost(row):
    if row['university_rating'] >= 4:
        row['adjusted_gre'] = (row['gre']).astype(int) + 10
        return row['adjusted_gre']
    else:
        row['adjusted_gre'] = row['gre']
        return row['adjusted_gre']

In [37]:
admissions_2['adjusted_gre'] = admissions_2.apply(point_boost,axis=1)

In [38]:
admissions_2.head()

,serial_no,gre,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,1.747900,1,347.0
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,0.076740,0,316.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,0.455704,0,322.0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0,314.0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,1.233279,1,340.0