# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [139]:
# Libraries
import pandas as pd
import string
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [140]:
# your code here
admissions=pd.read_csv("Admission_Predict.csv") # absolute path
#relative path:
#admissions_predict =pd.read_csv("c:/Users/suparna/Ironhack_6_sep/week3/day2/lab-advanced-pandas/your-code/data/Admission_Predict.csv")
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [141]:
#sol1
col_names=admissions.columns
for col in col_names:
    admissions=admissions.rename(columns=lambda col:col.rstrip()) #df = df.rename(columns=lambda x: x.replace('$', ''))
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [142]:
# your code here
#sol2
col_names=admissions.columns
col_names_new=[]
for col in col_names:
    col_names_new.append(col.rstrip())#append in empty list
col_names_new
data=pd.DataFrame(admissions,columns=col_names_new)
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [143]:
#sol3
col_names=admissions.columns
#type(data.columns)  #pandas.core.indexes.base.Inde

col_names_new=[]
for col in col_names:
    col_names_new.append(col.rstrip())#append in empty list
col_names_new=pd.Series(col_names_new)#convert list to series
admissions.columns=col_names_new
admissions_modified=pd.DataFrame(columns=col_names_new)# create empty dataframe with rstrip col
admissions_modified=pd.concat([admissions,admissions_modified],axis=0)#bending df,column names are not same,though concatenatinf. How?
admissions_modified
admissions_modified.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [144]:
#sol4
col_names_new=[]
for col in col_names:
    col_names_new.append(col.rstrip())#append in empty list
col_names_new=pd.Series(col_names_new)#convert list to series
admissions.columns=col_names_new
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [145]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [146]:
# your code here
admissions.isna().sum() #no missing values

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [147]:
# your code here
admissions.set_index('Serial No.',inplace=True)#inplace=True,to make it persistence
admissions

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

In [148]:
admissions.reset_index(inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [149]:
#admissions.index.name=None #reset index name to none
#admissions

In [150]:
#Keep the column in the dataframe in addition to making it an index.Not understood the question?

admissions = admissions.rename(columns = {'Serial No.':'Index'})

admissions

,Index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [151]:
admissions

,Index,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [152]:
# your code here
print(admissions.set_index(['GRE Score','CGPA']).index.is_unique)

True

In [153]:
#admissions[['GRE Score','CGPA']].transform(tuple,1).duplicated(keep=False).any()

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [154]:
# your code here
admissions.set_index(['GRE Score','CGPA'],inplace=True) # Create a Multi-Level Index                                        
#admissions.reset_index(inplace=True)
admissions

,,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

In [155]:
admissions.reset_index(inplace=True)
admissions

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [156]:
# your code here
admissions[(admissions['CGPA']>9) & (admissions['Research']== True)]

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

In [157]:
# your code here
#sol1
def check_CGPA(row):
    n=0
    if row>9:
        n=n+1
    return n

admissions["CGPA_new"]=admissions["CGPA"].apply(check_CGPA)
admissions["CGPA_new"]
admissions["CGPA_new"].value_counts()

0    275
1    110
Name: CGPA_new, dtype: int64

In [158]:
#sol2
df1=admissions[admissions['CGPA']>9]
df1.shape

(110, 10)

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [159]:
# your code here
admissions[(admissions['CGPA']>9) & (admissions['SOP']<3.5)]

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_new
28,338,9.40,29,118,4,3.0,4.5,1,0.91,1
62,327,9.02,63,114,3,3.0,3.0,0,0.61,1
140,326,9.11,141,114,3,3.0,3.0,1,0.83,1
217,324,9.01,218,111,4,3.0,3.0,1,0.82,1
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [117]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

    return (admissions[col]-admissions[col].mean())/admissions[col].std()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [119]:
# your code here
admissions["CGPA_std"]=standardize("CGPA")
admissions["GRE_std"]=standardize("GRE Score")
admissions["LOR_std"]=standardize("LOR")
admissions

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_new,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,-0.991211,-0.063367,0.076740
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0.121034,0.455704,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,-0.642597,-0.236391,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0.735259,0.628727,0.076740
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,0.851463,0.715239,0.076740
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,1.415886,1.147798,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0.303641,-0.409414,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,1.764500,1.407334,0.634193

In [160]:
#try in another way  using apply() ?
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    
   
    #print(np.std(col))
    #print(np.mean(col))
    return (col["CGPA"] - col["CGPA"].mean())/col["CGPA"].std()

In [161]:
# using apply() ?
admissions["CGPA_std"]=admissions.apply(standardize,axis=1)
#admissions["GRE_std"]=admissions["GRE Score"].apply(standardize)
#admissions["LOR_std"]=admissions["LOR"].apply(standardize)
admissions

C:\Users\suparna\AppData\Local\Temp/ipykernel_16452/2543487871.py:14: RuntimeWarning: invalid value encountered in double_scalars
  return (col["CGPA"]- col["CGPA"].mean())/col["CGPA"].std()

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_new,CGPA_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,NaN
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,NaN
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,NaN
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,NaN
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,NaN
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,NaN
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,NaN
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,NaN
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,NaN

We will generate the decision choice at random using the code below. Please run the cell.

In [120]:
# Libraries
from random import choices

In [121]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

In [122]:
decision_choice

['LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [123]:
# your code here
admissions["deciding_column"]=admissions.lookup(admissions.index,decision_choice )
admissions

C:\Users\suparna\AppData\Local\Temp/ipykernel_16452/4139148862.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  admissions["deciding_column"]=admissions.lookup(admissions.index,decision_choice )

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_new,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,-0.991211,-0.063367,0.076740,-0.991211
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0.121034,0.455704,-1.038166,0.121034
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,-0.642597,-0.236391,-0.480713,-0.480713
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,1.233279,1.147798,-0.480713,1.233279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0.735259,0.628727,0.076740,0.735259
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,0.851463,0.715239,0.076740,0.715239
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,1.415886,1.147798,1.191647,1.191647
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0.303641,-0.409414,0.634193,0.634193
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,1.764500,1.407334,0.634193,1.407334

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [124]:
# your code here
admissions["decision"]=[1 if value > 0.8 else 0 for value in admissions["deciding_column"]]
admissions

,GRE Score,CGPA,Index,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_new,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,-0.991211,-0.063367,0.076740,-0.991211,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0.121034,0.455704,-1.038166,0.121034,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,1.233279,1.147798,-0.480713,1.233279,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,1,0.735259,0.628727,0.076740,0.735259,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,1,0.851463,0.715239,0.076740,0.715239,0
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1,1.415886,1.147798,1.191647,1.191647,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0,0.303641,-0.409414,0.634193,0.634193,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1,1.764500,1.407334,0.634193,1.407334,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [125]:
# your code here
admissions["decision"].value_counts()

0    300
1     85
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [126]:
admissions.columns

Index(['GRE Score', 'CGPA', 'Index', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'Research', 'Chance of Admit', 'CGPA_new', 'CGPA_std', 'GRE_std',
       'LOR_std', 'deciding_column', 'decision'],
      dtype='object')

In [127]:
# your code here
new_list=[]
for col in admissions.columns:
    new_list.append(col.strip().replace(" ","_").lower())
admissions.columns=new_list
admissions.columns

Index(['gre_score', 'cgpa', 'index', 'toefl_score', 'university_rating', 'sop',
       'lor', 'research', 'chance_of_admit', 'cgpa_new', 'cgpa_std', 'gre_std',
       'lor_std', 'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [131]:
# your code here
condition=admissions["university_rating"]>=4
admissions[condition]["gre_score"].add(10)

0      347
4      340
9      337
10     338
18     335
      ...
370    345
377    336
379    339
382    340
384    343
Name: gre_score, Length: 126, dtype: int64

In [133]:
admissions["adjusted_gre"]=pd.cut(admissions[condition]["gre_score"].add(10),bins=4)
admissions.head()

,gre_score,cgpa,index,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_new,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1,1.747900,1.753381,1.191647,1.191647,1,"(337.5, 350.0]"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,0,-0.991211,-0.063367,0.076740,-0.991211,0,NaN
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0,0.121034,0.455704,-1.038166,0.121034,0,NaN
3,314,8.21,4,103,2,2.0,3.0,0,0.65,0,-0.642597,-0.236391,-0.480713,-0.480713,0,NaN
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1,1.233279,1.147798,-0.480713,1.233279,1,"(337.5, 350.0]"