# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
# Important links:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html
# https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.assign.html

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions = pd.read_csv('Admission_Predict.csv')
adm_challenge2 = pd.read_csv('Admission_Predict.csv')
adm_challenge3 = pd.read_csv('Admission_Predict.csv')
df_sd = pd.read_csv('Admission_Predict.csv')
adm_challenge3 = pd.read_csv('Admission_Predict.csv')

In [3]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [4]:
# your code here
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# your code here
admissions.isnull().sum()
# no missing values

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here
# after the first run the code stops working
admissions.set_index('Serial No.')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# checking if the above statement is true by looking for unique values in each column
GRE_boolean = not admissions["GRE Score"].is_unique

In [9]:
print(GRE_boolean)

True

In [10]:
CGPA_boolean = not admissions["CGPA"].is_unique

In [11]:
print(CGPA_boolean)

True

In [12]:
# just checking if Serial No. will display False as proof that the code works correctly
Serial_boolean = not admissions["Serial No."].is_unique

In [13]:
print(Serial_boolean)

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [14]:
# your code here
# We are not doing sum() just merging the numbers togeather
admissions['Score Index'] = admissions['GRE Score'].astype(str) + admissions['CGPA'].astype(str)

In [15]:
# converting the str to float
admissions['Score Index'] = admissions['Score Index'].astype(float)

In [16]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Score Index
0,1,337,118,4,4.5,4.5,9.65,1,0.92,3379.65
1,2,316,104,3,3.0,3.5,8.00,1,0.72,3168.00
2,3,322,110,3,3.5,2.5,8.67,1,0.80,3228.67
3,4,314,103,2,2.0,3.0,8.21,0,0.65,3148.21
4,5,330,115,5,4.5,3.0,9.34,1,0.90,3309.34

In [17]:
# deleting both columns
admissions.drop(['GRE Score'], inplace=True, axis=1)
admissions.drop(['CGPA'], inplace=True, axis=1)

In [18]:
admissions.head() #result after deleting

,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Score Index
0,1,118,4,4.5,4.5,1,0.92,3379.65
1,2,104,3,3.0,3.5,1,0.72,3168.00
2,3,110,3,3.5,2.5,1,0.80,3228.67
3,4,103,2,2.0,3.0,0,0.65,3148.21
4,5,115,5,4.5,3.0,1,0.90,3309.34

In [19]:
# setting Score Index as Index
admissions.set_index('Score Index', inplace=True)

In [20]:
admissions.head() #result after setting the new index

,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
Score Index,,,,,,,
3379.65,1,118,4,4.5,4.5,1,0.92
3168.00,2,104,3,3.0,3.5,1,0.72
3228.67,3,110,3,3.5,2.5,1,0.80
3148.21,4,103,2,2.0,3.0,0,0.65
3309.34,5,115,5,4.5,3.0,1,0.90

In [21]:
admissions.reset_index(inplace=True) #resetting the index

In [22]:
admissions.head()

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,3379.65,1,118,4,4.5,4.5,1,0.92
1,3168.00,2,104,3,3.0,3.5,1,0.72
2,3228.67,3,110,3,3.5,2.5,1,0.80
3,3148.21,4,103,2,2.0,3.0,0,0.65
4,3309.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [23]:
# your code here
# took a fresh copy of the dataset
adm_challenge2.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [24]:
# adding two new boolean mask columns
adm_challenge2['CGPAbool'] = adm_challenge2['CGPA'] >= 9
adm_challenge2['Researchbool'] = adm_challenge2['Research'] == 1

In [25]:
adm_challenge2.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPAbool,Researchbool
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True,True
1,2,316,104,3,3.0,3.5,8.00,1,0.72,False,True
2,3,322,110,3,3.5,2.5,8.67,1,0.80,False,True
3,4,314,103,2,2.0,3.0,8.21,0,0.65,False,False
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True,True

In [26]:
# taking all rows with 'True'
df_true = adm_challenge2[(adm_challenge2['CGPAbool']==True) & (adm_challenge2['Researchbool']==True)]

In [27]:
df_true.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPAbool,Researchbool
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True,True
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True,True
9,10,327,111,4,4.0,4.5,9.00,1,0.84,True,True
10,11,328,112,4,4.0,4.5,9.10,1,0.78,True,True
19,20,328,116,5,5.0,5.0,9.50,1,0.94,True,True

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [28]:
# your code here
# since we already have filtered CGPA > 9, we only need to account for SOP < 3,5 by creating additional bool mask
df_true['SOPbool'] = df_true['SOP'] < 3.5
#new_df = df_true[df_true['SOP'] < 3.5] # had to comment it out so I don't brake the rest of the code

/var/folders/gc/mj5dmy5j337_b7pqdtskrhnc0000gn/T/ipykernel_71326/3252109923.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true['SOPbool'] = df_true['SOP'] < 3.5

In [29]:
df_true.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPAbool,Researchbool,SOPbool
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True,True,False
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True,True,False
9,10,327,111,4,4.0,4.5,9.00,1,0.84,True,True,False
10,11,328,112,4,4.0,4.5,9.10,1,0.78,True,True,False
19,20,328,116,5,5.0,5.0,9.50,1,0.94,True,True,False

In [30]:
df_true.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPAbool,Researchbool,SOPbool
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True,True,False
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True,True,False
9,10,327,111,4,4.0,4.5,9.00,1,0.84,True,True,False
10,11,328,112,4,4.0,4.5,9.10,1,0.78,True,True,False
19,20,328,116,5,5.0,5.0,9.50,1,0.94,True,True,False

In [31]:
# filterig based on SOP bool mask
df_sop = df_true[(df_true['SOPbool']==True)]

In [32]:
df_sop.head() # result

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPAbool,Researchbool,SOPbool
28,29,338,118,4,3.0,4.5,9.40,1,0.91,True,True,True
140,141,326,114,3,3.0,3.0,9.11,1,0.83,True,True,True
217,218,324,111,4,3.0,3.0,9.01,1,0.82,True,True,True
381,382,325,107,3,3.0,3.5,9.11,1,0.84,True,True,True

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [33]:
df_sd.head() #a clean copy of the DataFrame

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [34]:
columns = df_sd.columns
# writing the function for all columns at once
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    for col in columns:
        col_mean = df_sd[col].mean()
        col_std = df_sd[col].std()
        df_sd[col+'_std'] = (df_sd[col]-col_mean)/(col_std)
    return df_sd.head()
    
    
    # your code here

In [35]:
df_sd.apply(standardize, axis=1)

0         Serial No.  GRE Score  TOEFL Score  Univers...
1         Serial No.  GRE Score  TOEFL Score  Univers...
2         Serial No.  GRE Score  TOEFL Score  Univers...
3         Serial No.  GRE Score  TOEFL Score  Univers...
4         Serial No.  GRE Score  TOEFL Score  Univers...
                             ...
380       Serial No.  GRE Score  TOEFL Score  Univers...
381       Serial No.  GRE Score  TOEFL Score  Univers...
382       Serial No.  GRE Score  TOEFL Score  Univers...
383       Serial No.  GRE Score  TOEFL Score  Univers...
384       Serial No.  GRE Score  TOEFL Score  Univers...
Length: 385, dtype: object

In [36]:
df_sd.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No._std,GRE Score_std,TOEFL Score_std,University Rating_std,SOP_std,LOR _std,CGPA_std,Research_std,Chance of Admit _std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,-1.725313,1.753381,1.733736,0.812378,1.114860,1.191647,1.747900,0.906919,1.361400
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-1.716327,-0.063367,-0.553302,-0.061269,-0.373768,0.076740,-0.991211,0.906919,-0.027232
2,3,322,110,3,3.5,2.5,8.67,1,0.80,-1.707341,0.455704,0.426857,-0.061269,0.122441,-1.038166,0.121034,0.906919,0.528221
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-1.698355,-0.236391,-0.716662,-0.934915,-1.366186,-0.480713,-0.642597,-1.099770,-0.513253
4,5,330,115,5,4.5,3.0,9.34,1,0.90,-1.689369,1.147798,1.243656,1.686024,1.114860,-0.480713,1.233279,0.906919,1.222537

In [37]:
df_sd.columns = df_sd.columns.str.rstrip()

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [38]:
# your code here
admissions.head()

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,3379.65,1,118,4,4.5,4.5,1,0.92
1,3168.00,2,104,3,3.0,3.5,1,0.72
2,3228.67,3,110,3,3.5,2.5,1,0.80
3,3148.21,4,103,2,2.0,3.0,0,0.65
4,3309.34,5,115,5,4.5,3.0,1,0.90

In [39]:
# adding columns one by one to the admissions dataframe
admissions['CGPA_std'] = df_sd['CGPA_std']
admissions['GRE_std'] = df_sd['GRE Score_std']
admissions['LOR_std'] = df_sd['LOR _std']

In [40]:
admissions.head() #results

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [41]:
# Libraries
from random import choices

In [42]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

In [43]:
print(decision_choice)

['LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [44]:
# your code here
#admissions['deciding_column'] = df.lookup(df.index, df['best'])
admissions['decision_choice'] = decision_choice

In [45]:
admissions.head(10)

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std
5,3218.20,6,109,3,3.0,4.0,1,0.75,-0.659198,0.369192,0.634193,LOR_std
6,3087.90,7,101,2,3.0,4.0,0,0.68,-1.157218,-0.755462,0.634193,CGPA_std
7,3028.00,8,102,1,2.0,1.5,0,0.50,-0.991211,-1.274533,-2.153072,CGPA_std
8,3238.60,9,108,3,3.5,3.0,0,0.45,0.004829,0.542216,-0.480713,CGPA_std
9,3279.00,10,111,4,4.0,4.5,1,0.84,0.668856,0.888263,1.191647,CGPA_std

In [46]:
# doing a lookup, creating 'deciding_column' based on the decision_choise from above challenge
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)

/var/folders/gc/mj5dmy5j337_b7pqdtskrhnc0000gn/T/ipykernel_71326/3456318954.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)

In [47]:
admissions.head() #results

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std,-0.063367
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [48]:
# your code here
admissions.head()

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std,-0.063367
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798

In [49]:
# decided to complete the challenge using a boolean mask instead of 0 and 1. True would mean 1 and False would mean 0
admissions['decision'] = admissions['deciding_column'] > 0.8

In [50]:
admissions.head()

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,True
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std,-0.063367,False
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,False
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,False
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,True

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [51]:
admissions[admissions['decision'] == True]
# returning a table with rows based only on True values (>0.8)
# from the row count we can say that 85 students were picked

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,True
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,True
10,3289.10,11,112,4,4.0,4.5,1,0.78,0.834863,0.974775,1.191647,CGPA_std,0.834863,True
19,3289.50,20,116,5,5.0,5.0,1,0.94,1.498890,0.974775,1.749100,LOR_std,1.749100,True
20,3349.70,21,119,5,5.0,4.5,1,0.95,1.830903,1.493846,1.191647,GRE_std,1.493846,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,3359.82,371,117,5,5.0,5.0,1,0.96,2.030111,1.580357,1.749100,LOR_std,1.749100,True
377,3269.12,378,112,4,4.0,3.5,1,0.84,0.868064,0.801751,0.076740,CGPA_std,0.868064,True
379,3299.23,380,111,4,4.5,4.0,1,0.89,1.050671,1.061286,0.634193,GRE_std,1.061286,True
381,3259.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,CGPA_std,0.851463,True
382,3309.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,GRE_std,1.147798,True

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [52]:
# your code here
admissions.head()

,Score Index,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,True
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std,-0.063367,False
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,False
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,False
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,True

In [53]:
admissions.columns =admissions.columns.str.replace('[#,@,&,.]','')
# removing all non-characters

/var/folders/gc/mj5dmy5j337_b7pqdtskrhnc0000gn/T/ipykernel_71326/1808503694.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  admissions.columns =admissions.columns.str.replace('[#,@,&,.]','')

In [54]:
admissions.head()

,Score Index,Serial No,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,True
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std,-0.063367,False
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,False
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,False
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,True

In [55]:
admissions.columns = admissions.columns.str.replace(' ','_') #removing spaces and replacing them with '_'

In [56]:
admissions.columns= admissions.columns.str.lower() # changing to lower case

In [57]:
admissions.head()

,score_index,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,3379.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,LOR_std,1.191647,True
1,3168.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,GRE_std,-0.063367,False
2,3228.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,False
3,3148.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,LOR_std,-0.480713,False
4,3309.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,GRE_std,1.147798,True

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [58]:
# your code here
#loading the initial dataset
adm_challenge3.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [59]:
# trying to solve the challenge by using boolean masks.
# Lets filter the 'University Rating' column and find all >= 4
adm_challenge3['uni_rating'] = adm_challenge3['University Rating'] >= 4

In [60]:
# filter based on boolean mask True. This will be the studets who should become 10 point boost to their 'GRE'
adm_challenge3[adm_challenge3['uni_rating'] == True]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,uni_rating
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True
9,10,327,111,4,4.0,4.5,9.00,1,0.84,True
10,11,328,112,4,4.0,4.5,9.10,1,0.78,True
18,19,325,114,4,3.0,2.0,8.40,0,0.70,True
...,...,...,...,...,...,...,...,...,...,...
370,371,335,117,5,5.0,5.0,9.82,1,0.96,True
377,378,326,112,4,4.0,3.5,9.12,1,0.84,True
379,380,329,111,4,4.5,4.0,9.23,1,0.89,True
382,383,330,116,4,5.0,4.5,9.45,1,0.91,True
384,385,333,117,4,5.0,4.0,9.66,1,0.95,True

In [61]:
# some couumn names have empty spaces and need to be cleaned before proceeding further
adm_challenge3.columns = adm_challenge3.columns.str.rstrip()

In [62]:
adm_challenge3['GRE Score'] + 10

0      347
1      326
2      332
3      324
4      340
      ...
380    334
381    335
382    340
383    322
384    343
Name: GRE Score, Length: 385, dtype: int64

In [64]:
adm_challenge3.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,uni_rating
0,1,337,118,4,4.5,4.5,9.65,1,0.92,True
1,2,316,104,3,3.0,3.5,8.00,1,0.72,False
2,3,322,110,3,3.5,2.5,8.67,1,0.80,False
3,4,314,103,2,2.0,3.0,8.21,0,0.65,False
4,5,330,115,5,4.5,3.0,9.34,1,0.90,True

In [67]:
# split the column into 4 bins using the cut function. Assign this new score to the variable adjusted_gre.
adjusted_gre = pd.cut(adm_challenge3["GRE Score"],4)

In [68]:
print(adjusted_gre)

0      (327.5, 340.0]
1      (315.0, 327.5]
2      (315.0, 327.5]
3      (302.5, 315.0]
4      (327.5, 340.0]
            ...
380    (315.0, 327.5]
381    (315.0, 327.5]
382    (327.5, 340.0]
383    (302.5, 315.0]
384    (327.5, 340.0]
Name: GRE Score, Length: 385, dtype: category
Categories (4, interval[float64, right]): [(289.95, 302.5] < (302.5, 315.0] < (315.0, 327.5] < (327.5, 340.0]]