# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions = pd.read_csv('Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
admissions.columns = admissions.columns.str.strip()

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
admissions.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

It appears that there is no missing values in the dataset.

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
admissions = admissions.set_index('Serial No.')

In [7]:
display(admissions)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# your code here
admissions.groupby(["GRE Score", "CGPA"]).size().value_counts()

1    385
dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [9]:
admissions.set_index(['GRE Score','CGPA'], inplace = True)

In [10]:
display(admissions)

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82
325,9.11,107,3,3.0,3.5,1,0.84
330,9.45,116,4,5.0,4.5,1,0.91
312,8.78,103,3,3.5,4.0,0,0.67
333,9.66,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here
admissions.reset_index(inplace=True)

In [12]:
display(admissions)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
383,312,8.78,103,3,3.5,4.0,0,0.67
384,333,9.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [13]:
# your code here
len(admissions.loc[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)])

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [14]:
# your code here
admissions.loc[(admissions['CGPA'] > 9) & (admissions['SOP'] <3.5)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

In [15]:
admissions_2 = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] <3.5)]
admissions_2['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [16]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    
    col_mean = np.mean(np.array(admissions[col]))
    col_std = np.std(np.array(admissions[col]))
    admissions[col+'_std']=(admissions[col] - col_mean)/col_std

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [17]:
# your code here
standardize('CGPA')
standardize('GRE Score')
standardize('LOR')
admissions = admissions.rename(columns={'GRE Score_std': 'GRE_std'})

In [18]:
display(admissions)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [19]:
# Libraries
from random import choices

In [20]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [21]:
# your code here
admissions['deciding_column']=admissions.lookup(admissions.index, decision_choice)

C:\Users\gelorminim\AppData\Local\Temp\ipykernel_7456\4188491131.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions['deciding_column']=admissions.lookup(admissions.index, decision_choice)

In [22]:
display(admissions)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216
381,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.716170
382,330,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.193197
383,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947
384,333,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [23]:
# your code here
def decision(row):
    if row['deciding_column'] > 0.8:
        return int(1)
    else:
        return int(0)

In [24]:
admissions['decision'] = admissions.apply(decision, axis=1)
display(admissions)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216,0
381,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.716170,0
382,330,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.193197,1
383,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0
384,333,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [25]:
# your code here
admissions['decision'].value_counts()

0    294
1     91
Name: decision, dtype: int64

Based on the decision rule we have developed thus far, a total of 91 students would be accepted to the program.

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [26]:
# your code here
admissions.columns = admissions.columns.str.replace(' ', '_').str.replace('[^0-9a-zA-Z.,_/ ]', '').str.lower()

C:\Users\gelorminim\AppData\Local\Temp\ipykernel_7456\308430247.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  admissions.columns = admissions.columns.str.replace(' ', '_').str.replace('[^0-9a-zA-Z.,_/ ]', '').str.lower()

In [27]:
admissions.columns

Index(['gre_score', 'cgpa', 'toefl_score', 'university_rating', 'sop', 'lor',
       'research', 'chance_of_admit', 'cgpa_std', 'gre_std', 'lor_std',
       'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [28]:
# your code here
def boost (row):
    value = row['gre_score'] +10
    if row['university_rating'] >= 4:
        return int(value)
    else:
        return int(row['gre_score'])

In [33]:
admissions['adjusted_gre'] = admissions.apply(boost, axis=1)
labels = ["Very Low", "Low", "High", "Very High"]
admissions['adjusted_gre'] = pd.cut(admissions['adjusted_gre'],4, labels = labels)
display(admissions)

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1,Very High
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,Low
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,High
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.236698,0,Low
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.736216,0,High
381,325,9.11,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.716170,0,High
382,330,9.45,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.193197,1,Very High
383,312,8.78,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,Low
384,333,9.66,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1,Very High