# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [193]:
# your code here
data = pd.read_csv('Admission_Predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [194]:
# your code here
data.columns = data.columns.str.strip()
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
data.isnull().sum()

#there are no null values.

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
data = data.set_index('Serial No.', inplace=False)
data

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here

GRE_dupli = data['GRE Score'].duplicated()
CGPA_dupli = data['CGPA'].duplicated()
data['ID_GRE Score_CGPA'] = data['GRE Score'].astype(str)+data['CGPA'].astype(str)
print(GRE_dupli.unique())
print(CGPA_dupli.unique())

[False  True]
[False  True]

In [8]:
ID_dupli = data['ID_GRE Score_CGPA'].duplicated()
print(ID_dupli.unique())
data = data.drop('GRE Score', axis=1)
data = data.drop('CGPA', axis=1)
data.head()

[False]

,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,ID_GRE Score_CGPA
Serial No.,,,,,,,
1,118,4,4.5,4.5,1,0.92,3379.65
2,104,3,3.0,3.5,1,0.72,3168.0
3,110,3,3.5,2.5,1,0.80,3228.67
4,103,2,2.0,3.0,0,0.65,3148.21
5,115,5,4.5,3.0,1,0.90,3309.34

In [9]:
data = data.set_index('ID_GRE Score_CGPA', inplace=False)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [10]:
data.head()

,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
ID_GRE Score_CGPA,,,,,,
3379.65,118,4,4.5,4.5,1,0.92
3168.0,104,3,3.0,3.5,1,0.72
3228.67,110,3,3.5,2.5,1,0.80
3148.21,103,2,2.0,3.0,0,0.65
3309.34,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [11]:
# your code here

data = data.reset_index(drop=True)
data.head()

   TOEFL Score  University Rating  SOP  LOR  Research  Chance of Admit
0          118                  4  4.5  4.5         1             0.92
1          104                  3  3.0  3.5         1             0.72
2          110                  3  3.5  2.5         1             0.80
3          103                  2  2.0  3.0         0             0.65
4          115                  5  4.5  3.0         1             0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [2]:
# your code here
data = pd.read_csv('Admission_Predict.csv')
data
data.columns = data.columns.str.strip()
data.columns
print(data[data['CGPA']>9].shape[0], 'rows')
#data[data['CGPA']>9].shape()

110 rows

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [3]:
# your code here
#condition = data['SOP']<3.5 & data['CGPA']>9
print(data[(data['SOP']<3.5)&(data['CGPA']>9)])
data[(data['SOP']<3.5)&(data['CGPA']>9)]['Chance of Admit'].mean()

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
28           29        338          118                  4  3.0  4.5  9.40
62           63        327          114                  3  3.0  3.0  9.02
140         141        326          114                  3  3.0  3.0  9.11
217         218        324          111                  4  3.0  3.0  9.01
381         382        325          107                  3  3.0  3.5  9.11

     Research  Chance of Admit
28          1             0.91
62          0             0.61
140         1             0.83
217         1             0.82
381         1             0.84

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [4]:
def standardize(x):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    x_mean = np.mean(x)
    x_std = np.std(x)
    stand = (x-x_mean)/x_std 


 
    return stand

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [5]:
# your code here
data['CGPA_std'] = standardize(data['CGPA'])
data['GRE_std'] = standardize(data['GRE Score'])
data['LOR_std'] = standardize(data['LOR'])
data.head(10)

#CGPA_std = list(data['CGPA_std'] )
#LOR_std = list(data['LOR_std'] )
#GRE_std = list(data['GRE_std'] )
#GRE_std[0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338
5,6,321,109,3,3.0,4.0,8.20,1,0.75,-0.660055,0.369672,0.635019
6,7,308,101,2,3.0,4.0,7.90,0,0.68,-1.158723,-0.756445,0.635019
7,8,302,102,1,2.0,1.5,8.00,0,0.50,-0.992501,-1.276191,-2.155874
8,9,323,108,3,3.5,3.0,8.60,0,0.45,0.004836,0.542921,-0.481338
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197

We will generate the decision choice at random using the code below. Please run the cell.

In [6]:
# Libraries
from random import choices

In [7]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=data.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [8]:
# your code here
#valores = []
data['decision_choice']=decision_choice

data.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,LOR_std
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,GRE_std
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,LOR_std
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,GRE_std
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,CGPA_std
5,6,321,109,3,3.0,4.0,8.20,1,0.75,-0.660055,0.369672,0.635019,CGPA_std
6,7,308,101,2,3.0,4.0,7.90,0,0.68,-1.158723,-0.756445,0.635019,CGPA_std
7,8,302,102,1,2.0,1.5,8.00,0,0.50,-0.992501,-1.276191,-2.155874,LOR_std
8,9,323,108,3,3.5,3.0,8.60,0,0.45,0.004836,0.542921,-0.481338,CGPA_std
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197,LOR_std

In [12]:
data.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_columm
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,LOR_std,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,GRE_std,-0.063450
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,GRE_std,-0.236698
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1.234884
5,6,321,109,3,3.0,4.0,8.20,1,0.75,-0.660055,0.369672,0.635019,CGPA_std,-0.660055
6,7,308,101,2,3.0,4.0,7.90,0,0.68,-1.158723,-0.756445,0.635019,CGPA_std,-1.158723
7,8,302,102,1,2.0,1.5,8.00,0,0.50,-0.992501,-1.276191,-2.155874,LOR_std,-2.155874
8,9,323,108,3,3.5,3.0,8.60,0,0.45,0.004836,0.542921,-0.481338,CGPA_std,0.004836
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197,LOR_std,1.193197

In [11]:
cond_1=(data['decision_choice']=='CGPA_std')
cond_2=(data['decision_choice']=='LOR_std')
cond_3=(data['decision_choice']=='GRE_std')
data.loc[cond_1, 'deciding_columm'] = data.loc[cond_1, 'CGPA_std']
data.loc[cond_2, 'deciding_columm'] = data.loc[cond_2, 'LOR_std']
data.loc[cond_3, 'deciding_columm'] = data.loc[cond_3,'GRE_std']
data.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_columm
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,LOR_std,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,GRE_std,-0.063450
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,GRE_std,-0.236698
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1.234884
5,6,321,109,3,3.0,4.0,8.20,1,0.75,-0.660055,0.369672,0.635019,CGPA_std,-0.660055
6,7,308,101,2,3.0,4.0,7.90,0,0.68,-1.158723,-0.756445,0.635019,CGPA_std,-1.158723
7,8,302,102,1,2.0,1.5,8.00,0,0.50,-0.992501,-1.276191,-2.155874,LOR_std,-2.155874
8,9,323,108,3,3.5,3.0,8.60,0,0.45,0.004836,0.542921,-0.481338,CGPA_std,0.004836
9,10,327,111,4,4.0,4.5,9.00,1,0.84,0.669726,0.889419,1.193197,LOR_std,1.193197

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [13]:
# your code here
def final_decision(valor):
    if valor>0.8:
        return 1
    else:
        return 0
data['decision'] = data['deciding_columm'].apply(final_decision)
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_columm,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,LOR_std,1.193197,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,GRE_std,-0.063450,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,GRE_std,-0.236698,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1.234884,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [18]:
# your code here
print(data[data['decision']==1]['decision'].sum())

95

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [19]:
# your code here
import re
#data.columns = re.sub(r'[^a-zA-Z ]', '', data.columns)
#data.columns = data.columns.replace(' ', '_')
#data.columns = data.columns.lower()
data.columns
data.rename(columns=lambda x: x.replace(' ', '-'), inplace=True)
data.rename(columns=lambda x: re.sub(r'[^a-zA-Z ]', '', x), inplace=True)
data.rename(columns=lambda x: x.lower(), inplace=True)
data.columns

Index(['serialno', 'grescore', 'toeflscore', 'universityrating', 'sop', 'lor',
       'cgpa', 'research', 'chanceofadmit', 'cgpastd', 'grestd', 'lorstd',
       'decisionchoice', 'decidingcolumm', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [20]:
# your code here
data.head()
data[(data['universityrating']==4) | (data['grescore']>10)]
bins = [100, 200, 300, 400, float('inf')]
data['adjusted_gre']= pd.cut(data['grescore'], bins, labels=['0-100', '100-200', '200-300', '300-400'])

In [21]:
#DOUBTS:
#1. Standarized function
#2. data['adjusted_gre'], which score?

In [22]:
data.head()

,serialno,grescore,toeflscore,universityrating,sop,lor,cgpa,research,chanceofadmit,cgpastd,grestd,lorstd,decisionchoice,decidingcolumm,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.750174,1.755663,1.193197,LOR_std,1.193197,1,200-300
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.992501,-0.063450,0.076840,GRE_std,-0.063450,0,200-300
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517,0,200-300
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.643433,-0.236698,-0.481338,GRE_std,-0.236698,0,200-300
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1.234884,1,200-300

In [23]:
data['adjusted_gre'].unique()

[200-300, 100-200]
Categories (2, object): [100-200 < 200-300]