# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
admissions_predict = pd.read_csv('Admission_Predict.csv')

db = admissions_predict
table = admissions_predict

admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [3]:
new_columns = admissions_predict.columns.str.strip()
print(new_columns)

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [4]:

admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
missing_data = admissions_predict.isna().sum()
print(missing_data)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
admissions_predict.set_index('Serial No.',inplace = False)
display(admissions_predict)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
admissions_predict[['GRE Score','CGPA']].nunique()

GRE Score     49
CGPA         168
dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
admissions_predict.set_index(['GRE Score', 'CGPA'], inplace = True)
admissions_predict.reset_index(inplace=True)

display(admissions_predict)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:

condition1 = (admissions_predict['CGPA'] > 9) & (admissions_predict['Research'] == 1)
check = admissions_predict[condition1]
count = len(check)
  
print("Number of rows where CGPA is higher than 9 and the student has conducted research is:", count)

Number of rows where CGPA is higher than 9 and the student has conducted research is: 101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [32]:

admissions_predict.columns = admissions_predict.columns.str.strip()

condition2= (admissions_predict['CGPA'] > 9) & (admissions_predict['SOP'] < 3.5)
average_admit = admissions_predict['Chance of Admit'].mean()

print(condition2)
print("The mean chance of admit is:", average_admit)

0      False
1      False
2      False
3      False
4      False
       ...
380    False
381     True
382    False
383    False
384    False
Length: 385, dtype: bool
The mean chance of admit is: 0.7239220779220773

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [35]:

 
def standardize_column(column):
    mean = np.mean(column)
    std_dev = np.std(column)
    
    standardized_column = (column - mean) / std_dev
    
    return standardized_column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [36]:

admissions_predict['CGPA_std'] = standardize_column(admissions_predict['CGPA'])
admissions_predict['GRE_std'] = standardize_column(admissions_predict['GRE Score'])
admissions_predict['LOR_std'] = standardize_column(admissions_predict['LOR'])

display(admissions_predict)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [37]:

from random import choices

In [48]:

std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']
decision_choice = [choices(std_columns)[0] for _ in range(admissions_predict.shape[0])]

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [50]:


admissions_predict['deciding_column'] = decision_choice

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [53]:

admissions_predict['deciding_column'] = admissions_predict[['CGPA_std', 'GRE_std', 'LOR_std']].max(axis=1)
admissions_predict['decision'] = np.where(admissions_predict['deciding_column'] > 0.8, 1, 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [54]:


accepted_count = (admissions_predict['decision'] == 1).sum()
print("Number of accepted applicants:", accepted_count)

Number of accepted applicants: 133

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [81]:


admissions_predict.columns = admissions_predict.columns.str.replace(r'\W+', '', regex=True)  
admissions_predict.columns = admissions_predict.columns.str.replace(' ', '_', regex=False)  
admissions_predict.columns = admissions_predict.columns.str.lower() 

# admissions_predict['admissions.columns'] = admissions_predict.columns

print(admissions_predict.columns)

Index(['grescore', 'cgpa', 'serialno', 'toeflscore', 'universityrating', 'sop',
       'lor', 'research', 'chanceofadmit', 'cgpa_std', 'gre_std', 'lor_std',
       'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [82]:
mask = admissions_predict['universityrating'] >= 4

admissions_predict['adjusted_gre'] = np.where(mask, admissions_predict['grescore'] + 10, admissions_predict['grescore'])

admissions_predict['adjusted_gre_bins'] = pd.cut(admissions_predict['adjusted_gre'], bins=4)

print(admissions_predict[['grescore', 'universityrating', 'adjusted_gre', 'adjusted_gre_bins']])

     grescore  universityrating  adjusted_gre adjusted_gre_bins
0         337                 4           347    (335.0, 350.0]
1         316                 3           316    (305.0, 320.0]
2         322                 3           322    (320.0, 335.0]
3         314                 2           314    (305.0, 320.0]
4         330                 5           340    (335.0, 350.0]
..        ...               ...           ...               ...
380       324                 3           324    (320.0, 335.0]
381       325                 3           325    (320.0, 335.0]
382       330                 4           340    (335.0, 350.0]
383       312                 3           312    (305.0, 320.0]
384       333                 4           343    (335.0, 350.0]

[385 rows x 4 columns]