# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [145]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [146]:
# your code here
path='data/'

admissions = pd.read_csv(path + 'Admission_Predict.csv')
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [147]:
# your code here
admissions.columns = admissions.columns.str.rstrip()

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [148]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [149]:
# your code here
admissions.columns.isna()

#We are good to go

array([False, False, False, False, False, False, False, False, False])

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [150]:
# your code here
admissions.set_index('Serial No.')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

In [151]:
display(admissions)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [152]:
# your code here
#admissions.set_index(['Serial No.','GRE Score', 'CGPA'], inplace=True)

admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [153]:
#admissions.set_index(['GRE Score', 'CGPA'], inplace=True)

admissions.set_index(['GRE Score', 'CGPA'], inplace=True)
admissions.drop(columns=['Serial No.'], inplace=True)

In [154]:
display(admissions)

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82
325,9.11,107,3,3.0,3.5,1,0.84
330,9.45,116,4,5.0,4.5,1,0.91
312,8.78,103,3,3.5,4.0,0,0.67
333,9.66,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [155]:
# your code here
admissions.reset_index(inplace=True)

In [156]:
display(admissions)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
383,312,8.78,103,3,3.5,4.0,0,0.67
384,333,9.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [202]:
path='data/'

admissions = pd.read_csv(path + 'Admission_Predict.csv')
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [203]:
admissions.columns = admissions.columns.str.rstrip()

In [204]:
# your code here
admissions[(admissions['CGPA']>9) & (admissions['Research']==1)].value_counts()

Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research  Chance of Admit
1           337        118          4                  4.5  4.5  9.65  1         0.92               1
207         322        112          4                  4.5  4.5  9.26  1         0.91               1
247         331        119          4                  5.0  4.5  9.34  1         0.90               1
242         335        115          4                  4.5  4.5  9.68  1         0.93               1
234         328        110          4                  4.0  2.5  9.02  1         0.81               1
                                                                                                   ..
122         323        113          3                  4.0  3.0  9.32  1         0.85               1
117         334        119          5                  4.5  4.5  9.48  1         0.94               1
116         335        117          5                  5.0  5.0  9.56  1         0.94               1
111         310        106          4                  4.5  4.5  9.04  1         0.66               1
385         333        117          4                  5.0  4.0  9.66  1         0.95               1
Length: 101, dtype: int64

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [205]:
# your code here
admissions[(admissions['CGPA']>9) & (admissions['SOP']<3.5)].mean()

#The mean is 0.8

Serial No.           166.600
GRE Score            328.000
TOEFL Score          112.800
University Rating      3.400
SOP                    3.000
LOR                    3.400
CGPA                   9.130
Research               0.800
Chance of Admit        0.802
dtype: float64

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [206]:
admissions.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [207]:
admissions['CGPA'] = admissions['CGPA'].astype(int)
admissions['GRE Score'] = admissions['GRE Score'].astype(int)
admissions['LOR'] = admissions['LOR'].astype(int)

print("Unique values in CGPA column:", admissions['CGPA'].unique())
print("Unique values in GRE Score column:", admissions['GRE Score'].unique())
print("Unique values in LOR column:", admissions['LOR'].unique())

Unique values in CGPA column: [9 8 7 6]
Unique values in GRE Score column: [337 316 322 314 330 321 308 302 323 327 328 307 311 317 319 318 303 325
 334 336 298 295 310 300 338 340 331 320 299 304 313 332 326 329 339 312
 324 309 315 301 296 294 306 305 290 335 333 297 293]
Unique values in LOR column: [4 3 2 1 5]

In [210]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    mean = np.mean(col)
    std_dev = np.std(col)
    standardized_column = (col - mean) / std_dev
    return standardized_column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [212]:
# your code here

admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
display(admissions)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4,9,1,0.92,1.295259,1.755663,0.831844
1,2,316,104,3,3.0,3,8,1,0.72,-0.225091,-0.063450,-0.242854
2,3,322,110,3,3.5,2,8,1,0.80,-0.225091,0.456297,-1.317552
3,4,314,103,2,2.0,3,8,0,0.65,-0.225091,-0.236698,-0.242854
4,5,330,115,5,4.5,3,9,1,0.90,1.295259,1.149292,-0.242854
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3,9,1,0.82,1.295259,0.629546,-0.242854
381,382,325,107,3,3.0,3,9,1,0.84,1.295259,0.716170,-0.242854
382,383,330,116,4,5.0,4,9,1,0.91,1.295259,1.149292,0.831844
383,384,312,103,3,3.5,4,8,0,0.67,-0.225091,-0.409947,0.831844
384,385,333,117,4,5.0,4,9,1,0.95,1.295259,1.409165,0.831844

We will generate the decision choice at random using the code below. Please run the cell.

In [213]:
# Libraries
from random import choices

In [214]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

display(decision_choice)

['LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [215]:
# your code here
admissions['deciding_column']=admissions.lookup(admissions.index,decision_choice)

/var/folders/90/k9fypstn4y12th_l5jjxyxt00000gn/T/ipykernel_9177/1853239433.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions['deciding_column']=admissions.lookup(admissions.index,decision_choice)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [216]:
# your code here
admissions['decision'] = (admissions['deciding_column'] > 0.8).astype(int)

display(admissions)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,1,337,118,4,4.5,4,9,1,0.92,1.295259,1.755663,0.831844,0.831844,1
1,2,316,104,3,3.0,3,8,1,0.72,-0.225091,-0.063450,-0.242854,-0.242854,0
2,3,322,110,3,3.5,2,8,1,0.80,-0.225091,0.456297,-1.317552,0.456297,0
3,4,314,103,2,2.0,3,8,0,0.65,-0.225091,-0.236698,-0.242854,-0.236698,0
4,5,330,115,5,4.5,3,9,1,0.90,1.295259,1.149292,-0.242854,-0.242854,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3,9,1,0.82,1.295259,0.629546,-0.242854,0.629546,0
381,382,325,107,3,3.0,3,9,1,0.84,1.295259,0.716170,-0.242854,-0.242854,0
382,383,330,116,4,5.0,4,9,1,0.91,1.295259,1.149292,0.831844,1.149292,1
383,384,312,103,3,3.5,4,8,0,0.67,-0.225091,-0.409947,0.831844,0.831844,1
384,385,333,117,4,5.0,4,9,1,0.95,1.295259,1.409165,0.831844,0.831844,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [223]:
# your code here
number=admissions['decision'].value_counts()
print('The nubmer of accepted students is:',number[1])

The nubmer of accepted students is: 115

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [225]:
# your code here
admissions.columns = admissions.columns.str.replace('[^a-zA-Z0-9 ]', '', regex=True).str.replace(' ', '_').str.lower()

admissions.head()

,serialno,grescore,toeflscore,universityrating,sop,lor,cgpa,research,chanceofadmit,cgpastd,grestd,lorstd,decidingcolumn,decision
0,1,337,118,4,4.5,4,9,1,0.92,1.295259,1.755663,0.831844,0.831844,1
1,2,316,104,3,3.0,3,8,1,0.72,-0.225091,-0.063450,-0.242854,-0.242854,0
2,3,322,110,3,3.5,2,8,1,0.80,-0.225091,0.456297,-1.317552,0.456297,0
3,4,314,103,2,2.0,3,8,0,0.65,-0.225091,-0.236698,-0.242854,-0.236698,0
4,5,330,115,5,4.5,3,9,1,0.90,1.295259,1.149292,-0.242854,-0.242854,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [237]:
# your code here


def boost_gre(row):
    if row['universityrating']>=4:
        return row['grescore']+10
    else:
        return row['grescore']
        
#Apply the boost
admissions['adjusted_gre'] = admissions.apply(boost_gre, axis=1)


admissions['adjusted_gre'] = pd.cut(admissions['grescore'], bins=4)

admissions.head()

unique_bins = admissions['adjusted_gre'].unique()
print(unique_bins)

[(327.5, 340.0], (315.0, 327.5], (302.5, 315.0], (289.95, 302.5]]
Categories (4, interval[float64, right]): [(289.95, 302.5] < (302.5, 315.0] < (315.0, 327.5] < (327.5, 340.0]]

In [235]:
display(admissions)

,serialno,grescore,toeflscore,universityrating,sop,lor,cgpa,research,chanceofadmit,cgpastd,grestd,lorstd,decidingcolumn,decision,adjusted_gre
0,1,337,118,4,4.5,4,9,1,0.92,1.295259,1.755663,0.831844,0.831844,1,"(327.5, 340.0]"
1,2,316,104,3,3.0,3,8,1,0.72,-0.225091,-0.063450,-0.242854,-0.242854,0,"(315.0, 327.5]"
2,3,322,110,3,3.5,2,8,1,0.80,-0.225091,0.456297,-1.317552,0.456297,0,"(315.0, 327.5]"
3,4,314,103,2,2.0,3,8,0,0.65,-0.225091,-0.236698,-0.242854,-0.236698,0,"(302.5, 315.0]"
4,5,330,115,5,4.5,3,9,1,0.90,1.295259,1.149292,-0.242854,-0.242854,0,"(327.5, 340.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3,9,1,0.82,1.295259,0.629546,-0.242854,0.629546,0,"(315.0, 327.5]"
381,382,325,107,3,3.0,3,9,1,0.84,1.295259,0.716170,-0.242854,-0.242854,0,"(315.0, 327.5]"
382,383,330,116,4,5.0,4,9,1,0.91,1.295259,1.149292,0.831844,1.149292,1,"(327.5, 340.0]"
383,384,312,103,3,3.5,4,8,0,0.67,-0.225091,-0.409947,0.831844,0.831844,1,"(302.5, 315.0]"
384,385,333,117,4,5.0,4,9,1,0.95,1.295259,1.409165,0.831844,0.831844,1,"(327.5, 340.0]"