# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [569]:
# Libraries<

import pandas as pd
import numpy as np
import warnings

#ignore future warnings
warnings.filterwarnings('ignore', category=FutureWarning)

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [570]:
# your code here
admission = pd.read_csv('data/Admission_predict.csv')
admission

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [571]:
# your code here
list(admission.columns)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR ',
 'CGPA',
 'Research',
 'Chance of Admit ']

In [572]:
admission.columns = admission.columns.str.strip()
list(admission.columns)

['Serial No.',
 'GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research',
 'Chance of Admit']

Let's evaluate the dataset by looking at the `head` function.

In [573]:
# your code here

admission.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [574]:
# your code here
null_data = pd.DataFrame(admission.isnull().sum())
null_data

                   0
Serial No.         0
GRE Score          0
TOEFL Score        0
University Rating  0
SOP                0
LOR                0
CGPA               0
Research           0
Chance of Admit    0

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [575]:
# your code here

admission = admission.set_index('Serial No.')
admission

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [576]:
# your code here
#check if the join of the two numbers is unique
ad_gre_and_cgpa = (admission['GRE Score'].astype(str) + admission['CGPA'].astype(str)).nunique()
display (ad_gre_and_cgpa)

ad_gre_and_cgpa == len(admission)
#Turns out that yes, because we have 385 rows on the original df, so every row is unique

385

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [577]:
#admission2 = admission.set_index(['GRE Score', 'CGPA'],drop=True,inplace=True)
#admission2.head()

admission['GRE+CGPA'] = admission['GRE Score'].astype(str) + admission['CGPA'].astype(str)
admission.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE+CGPA
Serial No.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,3379.65
2,316,104,3,3.0,3.5,8.00,1,0.72,3168.0
3,322,110,3,3.5,2.5,8.67,1,0.80,3228.67
4,314,103,2,2.0,3.0,8.21,0,0.65,3148.21
5,330,115,5,4.5,3.0,9.34,1,0.90,3309.34

In [578]:
admission.set_index(['GRE+CGPA'],inplace=True)
admission

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE+CGPA,,,,,,,,
3379.65,337,118,4,4.5,4.5,9.65,1,0.92
3168.0,316,104,3,3.0,3.5,8.00,1,0.72
3228.67,322,110,3,3.5,2.5,8.67,1,0.80
3148.21,314,103,2,2.0,3.0,8.21,0,0.65
3309.34,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
3249.04,324,110,3,3.5,3.5,9.04,1,0.82
3259.11,325,107,3,3.0,3.5,9.11,1,0.84
3309.45,330,116,4,5.0,4.5,9.45,1,0.91
3128.78,312,103,3,3.5,4.0,8.78,0,0.67
3339.66,333,117,4,5.0,4.0,9.66,1,0.95

In [579]:
admission = admission.drop(columns=['CGPA','GRE Score'])

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [580]:
# your code here
admission.reset_index(inplace=True)
admission

,GRE+CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,3379.65,118,4,4.5,4.5,1,0.92
1,3168.0,104,3,3.0,3.5,1,0.72
2,3228.67,110,3,3.5,2.5,1,0.80
3,3148.21,103,2,2.0,3.0,0,0.65
4,3309.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
380,3249.04,110,3,3.5,3.5,1,0.82
381,3259.11,107,3,3.0,3.5,1,0.84
382,3309.45,116,4,5.0,4.5,1,0.91
383,3128.78,103,3,3.5,4.0,0,0.67
384,3339.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [581]:
# your code here
admission2 = pd.read_csv('data/Admission_predict.csv')
admission2.columns = admission2.columns.str.strip()
admission2.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [582]:
admission2_filter = admission2 [(admission2['CGPA']>9) & (admission2['Research']>0)]
admission2_filter

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [583]:
# your code here
admission2_filter2 = admission2 [(admission2['CGPA']>9) & (admission2['SOP']<3.5)]
admission2_filter2

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
28,29,338,118,4,3.0,4.5,9.40,1,0.91
62,63,327,114,3,3.0,3.0,9.02,0,0.61
140,141,326,114,3,3.0,3.0,9.11,1,0.83
217,218,324,111,4,3.0,3.0,9.01,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [584]:
def standardize(df,col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    
    mean_col = df[col].mean()
    std_dev = df[col].std()
    df[col+'_std'] = (df[col]-mean_col)/std_dev
    return df

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [585]:
# your code here
admission2 = standardize(admission2,'CGPA')
admission2 = standardize(admission2,'GRE Score')
admission2 = standardize(admission2,'LOR')
admission2 = admission2.rename(columns={'GRE Score_std':'GRE_std'})
admission2

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [586]:
# Libraries
from random import choices

In [587]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admission2.shape[0])
admission2['Decision choice'] = decision_choice
admission2

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision choice
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,GRE_std
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,CGPA_std
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,GRE_std
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,CGPA_std
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,CGPA_std
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,LOR_std

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [588]:
# your code here
admission2['deciding column'] = admission2.lookup(admission2.index,decision_choice)

In [589]:
admission2

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision choice,deciding column
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,GRE_std,1.753381
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,CGPA_std,1.233279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,GRE_std,0.715239
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,LOR_std,0.634193

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [590]:
# your code here

def decision(number):
    if number >=0.8:
        return 1
    else:
        return 0


admission2 ['decision'] = admission2['deciding column'].apply(decision)
admission2

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision choice,deciding column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,GRE_std,1.753381,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,CGPA_std,1.233279,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,GRE_std,0.715239,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,LOR_std,0.634193,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [591]:
# your code here
admission2['decision'].sum()

88

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [592]:
# your code here
admission2.columns = admission2.columns.str.lower().str.replace('[^a-zA-Z\s]', '').str.replace(' ','_')
admission2

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpastd,grestd,lorstd,decision_choice,deciding_column,decision
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,GRE_std,1.753381,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,0
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597,0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,CGPA_std,1.233279,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727,0
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,GRE_std,0.715239,0
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886,1
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641,0
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,LOR_std,0.634193,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [593]:
# your code here

def adjusted(row):
    if row['university_rating']>=4:
        row['adjusted_gre'] = row['gre_score'] + 10
        return row['adjusted_gre']
    else:
        row['adjusted_gre'] = row['gre_score']
        return row['adjusted_gre']

In [594]:
admission2['adjusted_gre'] = admission2.apply(adjusted,axis=1)
admission2

,serial_no,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,cgpastd,grestd,lorstd,decision_choice,deciding_column,decision,adjusted_gre
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647,GRE_std,1.753381,1,347
1,2,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740,LOR_std,0.076740,0,316
2,3,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166,GRE_std,0.455704,0,322
3,4,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713,CGPA_std,-0.642597,0,314
4,5,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713,CGPA_std,1.233279,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740,GRE_std,0.628727,0,324
381,382,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740,GRE_std,0.715239,0,325
382,383,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647,CGPA_std,1.415886,1,340
383,384,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193,CGPA_std,0.303641,0,312
384,385,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193,LOR_std,0.634193,0,343