# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [63]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [64]:
# your code here
predict=pd.read_csv("Admission_Predict.csv")
predict.head()
predict.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Remove trailing spaces at the end of the column names if there are any.

In [65]:
# your code here
columns_name=predict.columns

predict.columns = [name.rstrip() if name.endswith(' ') else name for name in list(predict.columns)]
predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Let's evaluate the dataset by looking at the `head` function.

In [66]:
# your code here
predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [67]:
# your code here
null_v=predict.isnull().sum()
null_v # there is no NaN

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [68]:
# your code here
#predict=predict.set_index('Serial No.',append=True)
predict=predict.set_index('Serial No.')
predict.head(5)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [69]:
# your code here
boolean_GRE = predict["GRE Score"].duplicated().any()
boolean_GPA = predict["CGPA"].duplicated().any()
print(boolean_GRE,boolean_GPA)

True True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [75]:
# your code here

print(predict.head())
# set index by 2 columns:
predict.set_index(['GRE Score','CGPA'],inplace=True) 
print(predict.head())
predict.reset_index(inplace=True)
print(predict)

   GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
0        337  9.65           1          118                  4  4.5  4.5
1        316  8.00           2          104                  3  3.0  3.5
2        322  8.67           3          110                  3  3.5  2.5
3        314  8.21           4          103                  2  2.0  3.0
4        330  9.34           5          115                  5  4.5  3.0

   Research  Chance of Admit
0         1             0.92
1         1             0.72
2         1             0.80
3         0             0.65
4         1             0.90
                Serial No.  TOEFL Score  University Rating  SOP  LOR  \
GRE Score CGPA
337       9.65           1          118                  4  4.5  4.5
316       8.00           2          104                  3  3.0  3.5
322       8.67           3          110                  3  3.5  2.5
314       8.21           4          103                  2  2.0  3.0
330       9.34           5          115                  5  4.5  3.0

                Research  Chance of Admit
GRE Score CGPA
337       9.65         1             0.92
316       8.00         1             0.72
322       8.67         1             0.80
314       8.21         0             0.65
330       9.34         1             0.90
     GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
0          337  9.65           1          118                  4  4.5  4.5
1          316  8.00           2          104                  3  3.0  3.5
2          322  8.67           3          110                  3  3.5  2.5
3          314  8.21           4          103                  2  2.0  3.0
4          330  9.34           5          115                  5  4.5  3.0
..         ...   ...         ...          ...                ...  ...  ...
380        324  9.04         381          110                  3  3.5  3.5
381        325  9.11         382          107                  3  3.0  3.5
382        330  9.45         383          116                  4  5.0  4.5
383        312  8.78         384          103                  3  3.5  4.0
384        333  9.66         385          117                  4  5.0  4.0

     Research  Chance of Admit
0           1             0.92
1           1             0.72
2           1             0.80
3           0             0.65
4           1             0.90
..        ...              ...
380         1             0.82
381         1             0.84
382         1             0.91
383         0             0.67
384         1             0.95

[385 rows x 9 columns]

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [76]:
# your code here

filtered_data = predict[(predict['CGPA'] > 9) & (predict['Research'] == 1)]
print(filtered_data)

     GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
0          337  9.65           1          118                  4  4.5  4.5
4          330  9.34           5          115                  5  4.5  3.0
10         328  9.10          11          112                  4  4.0  4.5
19         328  9.50          20          116                  5  5.0  5.0
20         334  9.70          21          119                  5  5.0  4.5
..         ...   ...         ...          ...                ...  ...  ...
379        329  9.23         380          111                  4  4.5  4.0
380        324  9.04         381          110                  3  3.5  3.5
381        325  9.11         382          107                  3  3.0  3.5
382        330  9.45         383          116                  4  5.0  4.5
384        333  9.66         385          117                  4  5.0  4.0

     Research  Chance of Admit
0           1             0.92
4           1             0.90
10          1             0.78
19          1             0.94
20          1             0.95
..        ...              ...
379         1             0.89
380         1             0.82
381         1             0.84
382         1             0.91
384         1             0.95

[101 rows x 9 columns]

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [77]:
# your code here

filtered_SOP = predict[(predict['CGPA'] > 9) & (predict['SOP'] < 3.5)]
print(filtered_SOP)
chance_SOP=np.mean(filtered_SOP["Chance of Admit"])
chance_SOP

     GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
28         338  9.40          29          118                  4  3.0  4.5
62         327  9.02          63          114                  3  3.0  3.0
140        326  9.11         141          114                  3  3.0  3.0
217        324  9.01         218          111                  4  3.0  3.0
381        325  9.11         382          107                  3  3.0  3.5

     Research  Chance of Admit
28          1             0.91
62          0             0.61
140         1             0.83
217         1             0.82
381         1             0.84

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [78]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
  
    mean = col.mean()
    std = col.std()
    std_values = (col-mean)/std
    return std_values

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [79]:
# your code here
print(predict)
# names of the columns to standardize
columns_to_standardize = ['CGPA','GRE Score','LOR']

# create new standardized columns
for name in columns_to_standardize:
    predict[f'{name}_Std'] = standardize(predict[name])
print(predict)

     GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
0          337  9.65           1          118                  4  4.5  4.5
1          316  8.00           2          104                  3  3.0  3.5
2          322  8.67           3          110                  3  3.5  2.5
3          314  8.21           4          103                  2  2.0  3.0
4          330  9.34           5          115                  5  4.5  3.0
..         ...   ...         ...          ...                ...  ...  ...
380        324  9.04         381          110                  3  3.5  3.5
381        325  9.11         382          107                  3  3.0  3.5
382        330  9.45         383          116                  4  5.0  4.5
383        312  8.78         384          103                  3  3.5  4.0
384        333  9.66         385          117                  4  5.0  4.0

     Research  Chance of Admit
0           1             0.92
1           1             0.72
2           1             0.80
3           0             0.65
4           1             0.90
..        ...              ...
380         1             0.82
381         1             0.84
382         1             0.91
383         0             0.67
384         1             0.95

[385 rows x 9 columns]
     GRE Score  CGPA  Serial No.  TOEFL Score  University Rating  SOP  LOR  \
0          337  9.65           1          118                  4  4.5  4.5
1          316  8.00           2          104                  3  3.0  3.5
2          322  8.67           3          110                  3  3.5  2.5
3          314  8.21           4          103                  2  2.0  3.0
4          330  9.34           5          115                  5  4.5  3.0
..         ...   ...         ...          ...                ...  ...  ...
380        324  9.04         381          110                  3  3.5  3.5
381        325  9.11         382          107                  3  3.0  3.5
382        330  9.45         383          116                  4  5.0  4.5
383        312  8.78         384          103                  3  3.5  4.0
384        333  9.66         385          117                  4  5.0  4.0

     Research  Chance of Admit  CGPA_Std  GRE Score_Std   LOR_Std
0           1             0.92  1.747900       1.753381  1.191647
1           1             0.72 -0.991211      -0.063367  0.076740
2           1             0.80  0.121034       0.455704 -1.038166
3           0             0.65 -0.642597      -0.236391 -0.480713
4           1             0.90  1.233279       1.147798 -0.480713
..        ...              ...       ...            ...       ...
380         1             0.82  0.735259       0.628727  0.076740
381         1             0.84  0.851463       0.715239  0.076740
382         1             0.91  1.415886       1.147798  1.191647
383         0             0.67  0.303641      -0.409414  0.634193
384         1             0.95  1.764500       1.407334  0.634193

[385 rows x 12 columns]

We will generate the decision choice at random using the code below. Please run the cell.

In [80]:
# Libraries
from random import choices

In [85]:
std_columns = ['CGPA_Std', 'GRE Score_Std', 'LOR_Std']

decision_choice = choices(std_columns, k=predict.shape[0])
print(decision_choice)

['LOR_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'GRE Score_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std', 'LOR_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'GRE Score_Std', 'LOR_Std', 'GRE Score_Std', 'CGPA_Std', 'LOR_Std', 'LOR_Std', 'CGPA_Std', 'LOR_Std', 'CGPA_Std', 'GRE Score_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'CGPA_Std', 'GRE Score_Std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [86]:
# your code here

predict['deciding_column'] = predict.lookup(predict.index, decision_choice)
predict
#predict['deciding_column'] = predict['decision_choice'].map(lookup_dict)

/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_98527/496666394.py:3: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  predict['deciding_column'] = predict.lookup(predict.index, decision_choice)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_Std,GRE Score_Std,LOR_Std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,-1.038166
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.735259
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.851463
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.415886
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,0.303641
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,1.407334

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [88]:
# your code here
predict['decision'] = predict['deciding_column'].apply(lambda x: 1 if x > 0.8 else 0)
predict.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_Std,GRE Score_Std,LOR_Std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [93]:
# your code here
results = predict['decision'].value_counts().get(1, 0)
print("The number of applicants beign accepted are",results)
# count of value 1 is 91 passes

The number of applicants beign accepted are 91

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [99]:
# your code here
predict.columns = predict.columns.str.replace('[^a-zA-Z]', '').str.replace(' ', '_').str.lower()
predict.head()

/var/folders/b5/_g73482d637g7mvbbf2qcxk80000gn/T/ipykernel_98527/2523091108.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  predict.columns = predict.columns.str.replace('[^a-zA-Z]', '')

,grescore,cgpa,serialno,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpastd,grescorestd,lorstd,decidingcolumn,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [102]:
# your code here

predict['adjusted_gre'] = predict.apply(lambda row: row['grescore'] + 10 if row['universityrating'] >= 4 else row['grescore'], axis=1)

predict['adjusted_gre_bins'] = pd.cut(predict['adjusted_gre'], bins=4)
predict.head()

,grescore,cgpa,serialno,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpastd,grescorestd,lorstd,decidingcolumn,decision,adjusted_gre,adjusted_gre_bins
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647,1,347.0,"(335.0, 350.0]"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0,316.0,"(305.0, 320.0]"
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,-1.038166,0,322.0,"(320.0, 335.0]"
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0,314.0,"(305.0, 320.0]"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279,1,340.0,"(335.0, 350.0]"