# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [49]:
# Libraries
import pandas as pd
import glob
import numpy as np
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [50]:
admissions_predict = pd.read_csv('data/Admission_Predict.csv')
display(admissions_predict.head())

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [51]:
# Check dataframe columns
print(list(admissions_predict.columns))

# remove spaces
admissions_predict.columns = admissions_predict.columns.str.strip()

# Check dataframe columns after removing spaces
print(list(admissions_predict.columns))

['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']
['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research', 'Chance of Admit']

Let's evaluate the dataset by looking at the `head` function.

In [52]:
# your code here

admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [53]:
# your code here
admissions_predict_null=admissions_predict.isnull().sum()
print(admissions_predict_null)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [54]:
# Create a new column with index values
new_index = admissions_predict['Serial No.'] 
admissions_predict = pd.DataFrame(admissions_predict,index=new_index)
admissions_predict['Serial No.'] = admissions_predict.index
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
2,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
3,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
4,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
5,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [55]:
# concatenate the two columns using + operator
admissions_predict['GRE Score_CGPA']=admissions_predict['GRE Score'].astype(str) +'-'+  admissions_predict['CGPA'].astype(str)


# identify if this combination is unique
print(admissions_predict['GRE Score_CGPA'].nunique())
print(len(admissions_predict['GRE Score_CGPA']))

385
385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [56]:
admissions_predict.set_index(['GRE Score_CGPA'], inplace=True)
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score_CGPA,,,,,,,,,
316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [57]:
# your code here

admissions_predict.reset_index(inplace=True)
admissions_predict.head()

,GRE Score_CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72
1,322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80
2,314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
4,321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [58]:
def grade_research(row):
    if row['CGPA']>9 and row['Research']==1.0:
        return "True"
    else:
        return"False"
    

admissions_predict['CGPA & Research']=admissions_predict.apply(grade_research, axis=1)
admissions_predict.head()

admissions_predict.loc[admissions_predict['CGPA & Research'] == "True"]

,GRE Score_CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA & Research
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True
9,328.0-9.1,10,328.0,112.0,4.0,4.0,4.5,9.10,1.0,0.78,True
18,328.0-9.5,19,328.0,116.0,5.0,5.0,5.0,9.50,1.0,0.94,True
19,334.0-9.7,20,334.0,119.0,5.0,5.0,4.5,9.70,1.0,0.95,True
20,336.0-9.8,21,336.0,119.0,5.0,4.0,3.5,9.80,1.0,0.97,True
...,...,...,...,...,...,...,...,...,...,...,...
378,329.0-9.23,379,329.0,111.0,4.0,4.5,4.0,9.23,1.0,0.89,True
379,324.0-9.04,380,324.0,110.0,3.0,3.5,3.5,9.04,1.0,0.82,True
380,325.0-9.11,381,325.0,107.0,3.0,3.0,3.5,9.11,1.0,0.84,True
381,330.0-9.45,382,330.0,116.0,4.0,5.0,4.5,9.45,1.0,0.91,True
383,333.0-9.66,384,333.0,117.0,4.0,5.0,4.0,9.66,1.0,0.95,True

In [59]:
#or just the conditions to show data

admissions_predict.loc[(admissions_predict['CGPA'] > 9) & (admissions_predict['Research'] == 1.0)]

,GRE Score_CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA & Research
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True
9,328.0-9.1,10,328.0,112.0,4.0,4.0,4.5,9.10,1.0,0.78,True
18,328.0-9.5,19,328.0,116.0,5.0,5.0,5.0,9.50,1.0,0.94,True
19,334.0-9.7,20,334.0,119.0,5.0,5.0,4.5,9.70,1.0,0.95,True
20,336.0-9.8,21,336.0,119.0,5.0,4.0,3.5,9.80,1.0,0.97,True
...,...,...,...,...,...,...,...,...,...,...,...
378,329.0-9.23,379,329.0,111.0,4.0,4.5,4.0,9.23,1.0,0.89,True
379,324.0-9.04,380,324.0,110.0,3.0,3.5,3.5,9.04,1.0,0.82,True
380,325.0-9.11,381,325.0,107.0,3.0,3.0,3.5,9.11,1.0,0.84,True
381,330.0-9.45,382,330.0,116.0,4.0,5.0,4.5,9.45,1.0,0.91,True
383,333.0-9.66,384,333.0,117.0,4.0,5.0,4.0,9.66,1.0,0.95,True

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [60]:
selected_rows = admissions_predict[(admissions_predict['CGPA'] > 9) & (admissions_predict['SOP'] < 3.5)]
print(selected_rows.head())

mean_chance_admit = selected_rows['Chance of Admit'].mean()
print("The mean chance of admit for these applicants is: ",mean_chance_admit)

    GRE Score_CGPA  Serial No.  GRE Score  TOEFL Score  University Rating  \
27       338.0-9.4          28      338.0        118.0                4.0
61      327.0-9.02          62      327.0        114.0                3.0
139     326.0-9.11         140      326.0        114.0                3.0
216     324.0-9.01         217      324.0        111.0                4.0
380     325.0-9.11         381      325.0        107.0                3.0

     SOP  LOR  CGPA  Research  Chance of Admit CGPA & Research
27   3.0  4.5  9.40       1.0             0.91            True
61   3.0  3.0  9.02       0.0             0.61           False
139  3.0  3.0  9.11       1.0             0.83            True
216  3.0  3.0  9.01       1.0             0.82            True
380  3.0  3.5  9.11       1.0             0.84            True
The mean chance of admit for these applicants is:  0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [61]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    mean = np.mean(col)
    std = np.std(col)
    return (col - mean)/std

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [62]:
admissions_predict['CGPA_std']=standardize(admissions_predict['CGPA'])
admissions_predict['GRE_std']=standardize(admissions_predict['GRE Score'])
admissions_predict['LOR_std']=standardize(admissions_predict['LOR'])
admissions_predict.head()

,GRE Score_CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA & Research,CGPA_std,GRE_std,LOR_std
0,316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,False,-0.990618,-0.059038,0.079992
1,322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,False,0.126090,0.462128,-1.036987
2,314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,False,-0.640605,-0.232761,-0.478497
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True,1.242797,1.157017,-0.478497
4,321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75,False,-0.657272,0.375267,0.638481

We will generate the decision choice at random using the code below. Please run the cell.

In [63]:
# Libraries
from random import choices

In [64]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [65]:
# your code here
admissions_predict['deciding_column'] = admissions_predict.lookup(admissions_predict.index, decision_choice)
display(admissions_predict.head())

C:\Users\jardi\AppData\Local\Temp\ipykernel_4620\1493817908.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions_predict['deciding_column'] = admissions_predict.lookup(admissions_predict.index, decision_choice)

,GRE Score_CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA & Research,CGPA_std,GRE_std,LOR_std,deciding_column
0,316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,False,-0.990618,-0.059038,0.079992,-0.059038
1,322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,False,0.126090,0.462128,-1.036987,0.126090
2,314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,False,-0.640605,-0.232761,-0.478497,-0.640605
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True,1.242797,1.157017,-0.478497,1.242797
4,321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75,False,-0.657272,0.375267,0.638481,0.638481

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [66]:
# astype(int) method is used to convert the boolean series to an integer series where True is represented as 1 and False is represented as 0.
admissions_predict['decision'] = (admissions_predict['deciding_column'] > 0.8).astype(int)
display(admissions_predict.head())

,GRE Score_CGPA,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA & Research,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,False,-0.990618,-0.059038,0.079992,-0.059038,0
1,322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,False,0.126090,0.462128,-1.036987,0.126090,0
2,314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,False,-0.640605,-0.232761,-0.478497,-0.640605,0
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True,1.242797,1.157017,-0.478497,1.242797,1
4,321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75,False,-0.657272,0.375267,0.638481,0.638481,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [67]:
# your code here
admissions_predict['decision'].value_counts()

0    297
1     88
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [70]:
# your code here

admissions_predict.columns = admissions_predict.columns.str.replace('[^a-zA-Z\s]', '', regex=True).str.replace(' ', '_').str.lower()
display(admissions_predict.head())

,grescorecgpa,serialno,grescore,toeflscore,universityrating,sop,lor,cgpa,research,chanceofadmit,cgparesearch,cgpastd,grestd,lorstd,decidingcolumn,decision
0,316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,False,-0.990618,-0.059038,0.079992,-0.059038,0
1,322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,False,0.126090,0.462128,-1.036987,0.126090,0
2,314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,False,-0.640605,-0.232761,-0.478497,-0.640605,0
3,330.0-9.34,4,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True,1.242797,1.157017,-0.478497,1.242797,1
4,321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75,False,-0.657272,0.375267,0.638481,0.638481,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [71]:
# selects all rows where the university rating is 4 or higher and adds 10

admissions_predict.loc[admissions_predict['universityrating']>=4, 'grescore'] +=10

display(admissions_predict.head())

,grescorecgpa,serialno,grescore,toeflscore,universityrating,sop,lor,cgpa,research,chanceofadmit,cgparesearch,cgpastd,grestd,lorstd,decidingcolumn,decision
0,316.0-8.0,1,316.0,104.0,3.0,3.0,3.5,8.00,1.0,0.72,False,-0.990618,-0.059038,0.079992,-0.059038,0
1,322.0-8.67,2,322.0,110.0,3.0,3.5,2.5,8.67,1.0,0.80,False,0.126090,0.462128,-1.036987,0.126090,0
2,314.0-8.21,3,314.0,103.0,2.0,2.0,3.0,8.21,0.0,0.65,False,-0.640605,-0.232761,-0.478497,-0.640605,0
3,330.0-9.34,4,340.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90,True,1.242797,1.157017,-0.478497,1.242797,1
4,321.0-8.2,5,321.0,109.0,3.0,3.0,4.0,8.20,1.0,0.75,False,-0.657272,0.375267,0.638481,0.638481,0

In [73]:
#split the column into 4 bins using the cut function, and assign this new score to the variable adjusted_gre
adjusted_gre = pd.cut(admissions_predict['grescore'], 4)

#just to see the bins and how many we have for each bin created
adjusted_gre.value_counts()

(305.0, 320.0]     150
(320.0, 335.0]      90
(335.0, 350.0]      74
(289.94, 305.0]     70
Name: grescore, dtype: int64