# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [66]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [67]:
# your code here
admissions_predict = pd.read_csv('Admission_Predict.csv')
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [68]:
# your code here
admissions_predict.columns = admissions_predict.columns.str.strip()
admissions_predict.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [69]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [70]:
# your code here
test = admissions_predict.isnull().any()
test

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [71]:
# your code here
admissions_predict.set_index("Serial No.", inplace=True)
admissions_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [17]:
# tried this for over 30min

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [72]:
# your code here
admissions_predict.reset_index(drop=True, inplace=True)
admissions_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,316,104,3,3.0,3.5,8.00,1,0.72
2,322,110,3,3.5,2.5,8.67,1,0.80
3,314,103,2,2.0,3.0,8.21,0,0.65
4,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82
381,325,107,3,3.0,3.5,9.11,1,0.84
382,330,116,4,5.0,4.5,9.45,1,0.91
383,312,103,3,3.5,4.0,8.78,0,0.67
384,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [73]:
# your code here
admissions_predict[(admissions_predict['CGPA'] > 9) & (admissions_predict['Research'] == 1)]
# admissions_predict[['CGPA', 'Research', 'High CGPA and Research']]

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
4,330,115,5,4.5,3.0,9.34,1,0.90
10,328,112,4,4.0,4.5,9.10,1,0.78
19,328,116,5,5.0,5.0,9.50,1,0.94
20,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...
379,329,111,4,4.5,4.0,9.23,1,0.89
380,324,110,3,3.5,3.5,9.04,1,0.82
381,325,107,3,3.0,3.5,9.11,1,0.84
382,330,116,4,5.0,4.5,9.45,1,0.91
384,333,117,4,5.0,4.0,9.66,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [74]:
# your code here
test = admissions_predict[(admissions_predict['CGPA'] > 9) & (admissions_predict['SOP'] < 3.5)]
test.columns.str.strip()
test['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [75]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    admissions_predict[col + '_std'] = (admissions_predict[col] - admissions_predict[col].mean())/admissions_predict[col].std()
    return admissions_predict[col + '_std']

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [77]:
# your code here
standardize('CGPA')
standardize('GRE Score')
standardize('LOR')
admissions_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740
381,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740
382,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647
383,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193
384,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [85]:
# Libraries
from random import choices

In [86]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions_predict.shape[0])
admissions_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,118,4,4.5,4.5,9.65,1,0.92,1.747900,1.753381,1.191647
1,316,104,3,3.0,3.5,8.00,1,0.72,-0.991211,-0.063367,0.076740
2,322,110,3,3.5,2.5,8.67,1,0.80,0.121034,0.455704,-1.038166
3,314,103,2,2.0,3.0,8.21,0,0.65,-0.642597,-0.236391,-0.480713
4,330,115,5,4.5,3.0,9.34,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...
380,324,110,3,3.5,3.5,9.04,1,0.82,0.735259,0.628727,0.076740
381,325,107,3,3.0,3.5,9.11,1,0.84,0.851463,0.715239,0.076740
382,330,116,4,5.0,4.5,9.45,1,0.91,1.415886,1.147798,1.191647
383,312,103,3,3.5,4.0,8.78,0,0.67,0.303641,-0.409414,0.634193
384,333,117,4,5.0,4.0,9.66,1,0.95,1.764500,1.407334,0.634193

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [90]:
# your code here
admissions_predict['deciding_column'] = admissions_predict.lookup(decision_choice, std_columns)

# i don't really get what's wrong

C:\Users\maxim\AppData\Local\Temp\ipykernel_19076\76074865.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions_predict['deciding_column'] = admissions_predict.lookup(decision_choice, std_columns)

ValueError: Row labels must have same size as column labels

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [97]:
# your code here
# I spent 3h on this lab in total, I will just hand it in so it's done and possibly get back to it later in the future :)

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here